#in development or if you want to build this on your own: provide a coordinator endpoint
#in a docker scenario docker-compose takes care of this.
SKIP_PREFLIGHT_CHECK=true
REACT_APP_COORDINATOR=coordinator.{default}:{PORT}
REACT_APP_GITHUB_CLIENT_ID=