.login-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .login-button {
        height: 35px;
        width: 200px;
        margin: 10px;
    }
}